<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xdx.yyh.bit.finalwork.MiniDouyin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".bean.LoginPerson"
        android:allowBackup="true"
        android:icon="@mipmap/cover_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/cover_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ChangePersonInfo"></activity>
        <activity android:name=".Chatroom" />
        <activity android:name=".SendMsg" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.xdx.yyh.bit.finalwork.MiniDouyin"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".PortraitCameraActivity" />
        <activity android:name=".PreView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VideoWatch"
            android:label="@string/MiniDouyin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CustomCameraActivity"
            android:label="@string/title_activity_custom_camera"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PostVideo"
            android:label="@string/title_activity_post_video"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>